<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li> <a [routerLink]="['/produits']" >Les Produits</a></li>
      <li> <a [routerLink]="['/categories']" >Les Categories</a></li>
    </ul>
  </div>
</div>